* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #000;
}

header {
    position: fixed;
    top: 0;
    left: 0;
    color: #fff;
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 15px;
    list-style-type: none;
}

.hub {
    background-color: #fff;
    border-radius: 50%;
    border: 1px solid green;
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

