* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 16px;
}

.flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

body {
    height: 100vh;
    background-color: #333;
    color: #fff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

header {
    color: #fff;
}

main {
    /* width: 100%; */
}

nav ul {
    display: flex;
}

nav ul li {
    margin: 15px;
    list-style-type: none;
}

.nav-upper-link {
    font-size: 1.2em;
    list-style: none;
    text-decoration: none;  
}

.nav-upper-link:hover,
.nav-upper-link:visited:hover {
    color: #ffa500;
}

.nav-upper-link:visited {
    text-decoration: none;
    color: inherit;
}

.profile-pic {
    margin: 0 auto;
    border: 1px solid #fff;
    border-radius: 50%;
    min-width: 200px;
    max-width: 400px;
    min-height: 200px;
    max-height: 400px;
}

.project {
    border: 1px solid #fff;
    min-height: 300px;
}
